# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Theme Settings
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale: "en-US"
title: "Maths,Novels"
title_separator: "-"
name: "CooperWhite"
description: "for recording."
url: "https://mathnovel.github.io"
baseurl: ""
repository: "mathnovel/mathnovel.github.io"
teaser: # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo: # path of logo image to display in the masthead, e.g. "/assets/images/88x88.png"
masthead_title: # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs: false
words_per_minute: 200
enable_copy_code_button: false
copyright: # "copyright" name, defaults to site.title
copyright_url: # "copyright" URL, defaults to site.url
future: true  # 允许发布未来日期的文章（解决你当前文章不显示的问题）

# Comments
comments:
  provider: false # 可选: "giscus", "utterances", "disqus" 等

# Search
search: true
search_provider: lunr
lunr:
  search_within_pages: true

# SEO Related
google_site_verification:
bing_site_verification:
naver_site_verification:
yandex_site_verification:
baidu_site_verification:

# Social Sharing
twitter:
  username:
facebook:
  username:
  app_id:
  publisher:
og_image: # Open Graph/Twitter default site image

# Social Profiles
social:
  type: Person
  name: "CooperWhite"
  links:
    - "https://github.com/mathnovel"
    # 添加其他社交链接（可选）

# Analytics
analytics:
  provider: false
  google:
    tracking_id:
    anonymize_ip: false

# Site Author
author:
  name: "CooperWhite"
  avatar: # e.g. "/assets/images/bio-photo.jpg"
  bio: " **feel**,**then think** ."
  location: "Somewhere"
  email:
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:cooperwhite@qq.com"
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://mathnovel.github.io"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/mathnovel"

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/mathnovel"
  since: "2013"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - minimal-mistakes-jekyll.gemspec
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs
  - /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai  # 可选：设置时区（根据你所在地区）

# Pagination (使用 GitHub Pages 支持的 jekyll-paginate)
paginate: 5
paginate_path: /page:num/

# Plugins (仅使用 GitHub Pages 白名单插件)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true